<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="60">
          <mat-card-header>
              <mat-card-title>Sales</mat-card-title>
          </mat-card-header>
          
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>
  
      <div fxFlex="40" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Marketing Source</mat-card-title>
              </mat-card-header>

              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
                <div id="pieChartMarketingdiv" style="width: 100%; height: 200px"></div>

                <div>
                    <ol>
                        <ng-container *ngFor="let item of pieMarketingList">
                           <li>{{item}}</li>
                        </ng-container>    
                    </ol>
                </div>
              </div>
          </div>
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Current Cash in Drawer</mat-card-title>
              </mat-card-header>
              <br/>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
                    <div class="borderright">
                        <mat-card-header>
                            <mat-card-title>$12,434</mat-card-title>
                        </mat-card-header>
                        <h5>Kalgoorlie</h5>
                    </div>
                    <div class="borderright">
                        <mat-card-header>
                            <mat-card-title>$14,343</mat-card-title>
                        </mat-card-header>
                        <h5>Busselton</h5>
                    </div>
                    <div>
                        <mat-card-header>
                            <mat-card-title>$9,439</mat-card-title>
                        </mat-card-header>
                        <h5>Mandoorah</h5>
                    </div>
              </div>
          </div>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px" class="rcorners2">
    <div fxLayout="row" fxLayoutAlign="space-between none">
        <div id="pieChartRevenuediv" style="width: 100%; height: 200px"></div>

        <div>
            <ol>
                <ng-container *ngFor="let item of pieRevenueList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none" >
        <div id="pieChartServicesdiv" style="width: 100%; height: 200px"></div>

        <div>
            <ol>
                <ng-container *ngFor="let item of pieServicesList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none">
        <div id="pieChartProductsdiv" style="width: 100%; height: 200px"></div>

        <div>
            <ol>
                <ng-container *ngFor="let item of pieProductsList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol>
        </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Customer Gender</mat-card-title>
                      <p class="subtitle">As of month selected</p>
                  </mat-card-header>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Payment Methods</mat-card-title>
                  </mat-card-header>

                  <div id="pieChartPaymentMethodsdiv" style="width: 100%; height: 200px"></div>
              </div>
          </div>

          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>New vs Return</mat-card-title>
                      <p class="subtitle">As of month selected</p>
                  </mat-card-header>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Profit</mat-card-title>
                  </mat-card-header>

                  <div id="pieChartProfitdiv" style="width: 100%; height: 200px"></div>
                  <h4 style="float: right;">$45,299</h4>
              </div>
          </div>

          <div class="rcorners2" fxFlex="40">
              <mat-card-header>
                  <mat-card-title>Top Spender Customer</mat-card-title>
              </mat-card-header>
          </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Average Waited Time</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Appointment Logs</mat-card-title>
          </mat-card-header>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Overall Business Rating</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Top Therapists</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Therapists Ratings</mat-card-title>
          </mat-card-header>
      </div>
  </div>

</div>

