<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="60">
          <mat-card-header>
              <mat-card-title>Sales</mat-card-title>
          </mat-card-header>
          
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>
  
      <div fxFlex="40" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Marketing Source</mat-card-title>
              </mat-card-header>
              <div id="pieChartdiv" style="width: 100%; height: 500px"></div>
          </div>
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Current Cash in Drawer</mat-card-title>
              </mat-card-header>
          </div>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px" class="rcorners2">
      <div>1</div>
      <div>2</div>
      <div>3</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Customer Gender</mat-card-title>
                  </mat-card-header>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Payment Methods</mat-card-title>
                  </mat-card-header>
              </div>
          </div>

          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>New vs Return</mat-card-title>
                  </mat-card-header>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Profit</mat-card-title>
                  </mat-card-header>
              </div>
          </div>

          <div class="rcorners2" fxFlex="40">
              <mat-card-header>
                  <mat-card-title>Top Spender Customer</mat-card-title>
              </mat-card-header>
          </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Average Waited Time</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Appointment Logs</mat-card-title>
          </mat-card-header>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Overall Business Rating</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Top Therapists</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Therapists Ratings</mat-card-title>
          </mat-card-header>
      </div>
  </div>

</div>

