<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="30px">
  <div fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
   fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="60" fxFlex.xs="80%">
          
        <mat-card-header>
            <mat-card-title>Sales</mat-card-title>
        </mat-card-header>

        <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5px">
            <div class="flex-item" [fxFlex]>
                <mat-form-field appearance="fill" class="mat-form-width">
                <mat-label>Location</mat-label>
                <mat-select [(value)]="selectedLocation">
                    <mat-option *ngFor="let food of locations" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-item" [fxFlex]>
                <mat-form-field appearance="fill" class="mat-form-width">
                <mat-label>Views</mat-label>
                <mat-select [(value)]="selectedView">
                    <mat-option *ngFor="let food of views" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-item" [fxFlex]>
                <mat-form-field appearance="fill" class="mat-form-width">
                <mat-select [(value)]="selectedMonth">
                    <mat-option *ngFor="let food of months" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-item" [fxFlex]>
                <mat-form-field appearance="fill" class="mat-form-width">
                <mat-label>Compare</mat-label>
                <mat-select [(value)]="selectedCompare">
                    <mat-option *ngFor="let food of months" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
        </div>


          
          
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>
  
      <div fxFlex="40" fxFlex.xs="80%" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Marketing Source</mat-card-title>
              </mat-card-header>

              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
                <div id="pieChartMarketingdiv" style="width: 100%; height: 200px"></div>

                <div>
                    <ol>
                        <ng-container *ngFor="let item of pieMarketingList">
                           <li>{{item}}</li>
                        </ng-container>    
                    </ol>
                </div>
              </div>
          </div>
          <div class="rcorners2">
              <mat-card-header>
                  <mat-card-title>Current Cash in Drawer</mat-card-title>
              </mat-card-header>
              <br/>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
                    <div class="borderright">
                        <mat-card-header>
                            <mat-card-title>$12,434</mat-card-title>
                        </mat-card-header>
                        <h5>Kalgoorlie</h5>
                    </div>
                    <div class="borderright">
                        <mat-card-header>
                            <mat-card-title>$14,343</mat-card-title>
                        </mat-card-header>
                        <h5>Busselton</h5>
                    </div>
                    <div>
                        <mat-card-header>
                            <mat-card-title>$9,439</mat-card-title>
                        </mat-card-header>
                        <h5>Mandoorah</h5>
                    </div>
              </div>
          </div>
      </div>
  </div>

  <div fxLayout="row wrap"
   fxLayoutAlign="space-between center" class="rcorners2">
    <div class="borderright" [fxFlex] fxLayout="row" fxLayoutAlign="space-between none">
        <div>
            <mat-card-header>
                <mat-card-title>Revenue</mat-card-title>
            </mat-card-header>
            <br/>
            <div id="pieChartRevenuediv" style="width: 100%; height: 180px"></div>    
        </div>

        <div>
            <ol>
                <ng-container *ngFor="let item of pieRevenueList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol> 
        </div>
    </div>
    <div class="borderright" [fxFlex] fxLayout="row" fxLayoutAlign="space-between none" >
        <div>
            <mat-card-header>
                <mat-card-title>Services</mat-card-title>
            </mat-card-header>
            <br/>
            <div id="pieChartServicesdiv" style="width: 100%; height: 180px"></div>    
        </div>

        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <ol>
                <ng-container *ngFor="let item of pieServicesList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol>
            <br/>
            <button mat-raised-button color="primary">Show more</button>
        </div>
    </div>
    <div fxLayout="row" [fxFlex] fxLayoutAlign="space-start none">
        <div>
            <mat-card-header>
                <mat-card-title>Products</mat-card-title>
            </mat-card-header>
            <div id="pieChartProductsdiv" style="width: 100%; height: 180px"></div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none">
            <ol>
                <ng-container *ngFor="let item of pieProductsList">
                   <li>{{item}}</li>
                </ng-container>    
            </ol>
            <br/>
            <button mat-raised-button color="primary">Show more</button>
        </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px" >
          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Customer Gender</mat-card-title>
                      <p class="subtitle">As of month selected</p>
                  </mat-card-header>

                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-end none">
                    <div class="boldblue" fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="dot-darkblue"></span><span>{{pcGenderMale | number:'1.0-0'}}% Male</span>
                    </div>
                    <div fxFlex="20"></div>
                    <div class="boldblue" fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>{{100 - pcGenderMale | number:'1.0-0'}}% Female</span> <span class="dot-lightblue"></span>
                    </div>
                  </div>
                  <br/>
                  <mat-progress-bar mode="determinate" [value]="pcGenderMale"></mat-progress-bar>
                  <br/>
                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-end none">
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between center">
                        <span class="boldblue">{{male}}</span> 
                        <span class="subtitle">Male</span>
                    </div>
                    <div fxFlex="50"></div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between center">
                        <span class="boldblue">{{female}}</span>
                        <span class="subtitle">Female</span>
                    </div>
                  </div>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Payment Methods</mat-card-title>
                  </mat-card-header>

                  <div id="pieChartPaymentMethodsdiv" style="width: 100%; height: 200px"></div>
              </div>
          </div>

          <div fxFlex="30" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between none" >
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>New vs Return</mat-card-title>
                      <p class="subtitle">As of month selected</p>
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-end none">
                    <div class="boldblue" fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="dot-darkblue"></span>{{pcOld | number:'1.0-0'}}% Old
                    </div>
                    <div fxFlex="40"></div>
                    <div class="boldblue" fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
                        {{100 - pcOld | number:'1.0-0'}}% New <span class="dot-lightblue"></span>
                    </div>
                  </div><br/>
                  <mat-progress-bar mode="determinate" [value]="pcOld"></mat-progress-bar>
                  <br/>
                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-end none">
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between center">
                        <span class="boldblue">529</span> 
                        <span class="subtitle">Returned</span>
                    </div>
                    <div fxFlex="50"></div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between center">
                        <span class="boldblue">269</span>
                        <span class="subtitle">New</span>
                    </div>
                  </div>
              </div>
              <div class="rcorners2">
                  <mat-card-header>
                      <mat-card-title>Profit</mat-card-title>
                  </mat-card-header>
                  <div fxLayout="column" fxLayoutAlign="space-between center">
                    <div id="pieChartProfitdiv" style="width: 100%; height: 200px"></div>
                    <h4 class="boldblue" style="float: right;">${{totalProfit}}</h4>
                  </div>

              </div>
          </div>

          <div class="rcorners2" fxFlex="40">
              <mat-card-header>
                  <mat-card-title>Top Spender Customer</mat-card-title>
              </mat-card-header>
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <table mat-table [dataSource]="dataSourceTopSpender">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Spent Column -->
                    <ng-container matColumnDef="spent">
                      <th mat-header-cell *matHeaderCellDef> Spent </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <!-- Last Session Column -->
                    <ng-container matColumnDef="lastSession">
                      <th mat-header-cell *matHeaderCellDef> Last Session </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>                  
              
                  <button mat-raised-button color="primary">Show more</button>
              
              </div>



          </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Average Waited Time</mat-card-title>
          </mat-card-header>

          <div fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="30px">
            <div fxFlex="30" class="borderright" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
                <p class="boldblue">{{averageWaitedTime | number:'1.0-0'}} mins</p>
                <span class="subtitle">Average Waited Time</span>
            </div>
            <div fxFlex="70" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
                <table mat-table [dataSource]="dataSourceAverageWaited">
      
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Most Waited Customer </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <!-- Spent Column -->
                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} minutes</td>
                  </ng-container>
                
                  <!-- Last Session Column -->
                  <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef> Reference Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsAverageWaitedTime"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsAverageWaitedTime;"></tr>
                </table>
      
                <button mat-raised-button color="primary">Show more</button>
                    
              </div>
          </div>


      </div>

      <div class="rcorners2" fxFlex="50">
          <mat-card-header>
              <mat-card-title>Appointment Logs</mat-card-title>
          </mat-card-header>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="30px">
      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Overall Business Rating</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Top Therapists</mat-card-title>
          </mat-card-header>
      </div>

      <div class="rcorners2" fxFlex="33">
          <mat-card-header>
              <mat-card-title>Therapists Ratings</mat-card-title>
          </mat-card-header>
      </div>
  </div>

</div>

