.mat-card-title {
    color: rgba(85, 85, 85, 0.938);
    font-size: 21px;
}

.rcorners2 {
    border-radius: 7px;
    border: 3px solid rgba(168, 168, 168, 0.938);
    padding: 20px;
  }

.borderright {
    padding-right: 30px;
    border-right: 2px solid grey;
}

.subtitle {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

.boldblue {
    color: #3f51b5;;
    font-size: 18px;
}

.mat-progress-bar {
    width: 330px !important;
    height: 30px !important;
    border-radius: 7px;
}

.dot-darkblue {
    height: 25px;
    width: 25px;
    background-color: #3f51b5;
    border-radius: 50%;
    display: inline-block;
  }

.dot-lightblue {
    height: 25px;
    width: 25px;
    background-color: #c5cae9;
    border-radius: 50%;
    display: inline-block;
  }

  .mat-form-width {
    width: 131px !important;
}

table {
    width: 100%;
  }
  
.mat-table {
    background: #fafafa;;
}