.mat-card-title {
    color: rgba(85, 85, 85, 0.938);
    font-size: 21px;
}

.rcorners2 {
    border-radius: 7px;
    border: 3px solid rgba(168, 168, 168, 0.938);
    padding: 20px;
  }


.subtitle {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

.boldblue {
    color: #3f51b5;;
    font-size: 18px;
}

.mat-progress-bar {
    width: auto !important;
    height: 30px !important;
    border-radius: 7px;
}

.dot-darkblue {
    height: 25px;
    width: 25px;
    background-color: #3f51b5;
    border-radius: 50%;
    display: inline-block;
  }

.dot-lightblue {
    height: 25px;
    width: 25px;
    background-color: #c5cae9;
    border-radius: 50%;
    display: inline-block;
  }

  .mat-form-width {
    width: 131px !important;
}

table {
    width: 100%;
  }
  
.mat-table {
    background: #fafafa;;
}

.marginb10{
    margin-bottom: 10px;
}

.bordercash {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid grey;
}

.borderbottom {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}


/* / Extra small devices (portrait phones, less than 576px)
 */
@media (max-width: 575.98px) { 
    .borderright {
    }  
 }

/* // Small devices (landscape phones, 576px and up)
 */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .borderright {
    }
 }

/* // Medium devices (tablets, 768px and up)
 */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .borderright {
    }
 }

/* // Large devices (desktops, 992px and up)
 */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .borderright {
    }
 }

/* // Extra large devices (large desktops, 1200px and up)
 */
@media (min-width: 1200px) { 
    .borderright {
    }
 }

 /* // Extra large devices (large desktops, 1200px and up)
 */
@media (min-width: 1366px) { 
    .borderright {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 2px solid grey;
    }
 }